@model IEnumerable<Match>
@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Match List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Match" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Match
            </a>
        </div>
    </div>
</div>
<br />

<table class="table table-bordered table-striped" style="width:100%; margin-bottom: 30px">
    <thead>
        <tr>
            <th>
                Team 1
            </th>
            <th>
                Team 2
            </th>
            <th>
                Score
            </th>
            <th>
                DateTime
            </th>
            <th>
                League
            </th>
            <th>
                Stadium
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="15%">
                    @obj.Team1
                </td>
                <td width="15%">
                    @obj.Team2
                </td>
                <td width="15%">
                    @obj.Score
                </td>
                <td width="20%">
                    @obj.DateTime
                </td>
                <td width="15%">
                    @obj.League
                </td>
                <td width="20%">
                    @obj.Stadium
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Match" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Match" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

